body
{
    background-color: #0E2954;
    color : #84A7A1;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    margin: 32px
}

header
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    row-gap: 64px;
    
    width: 600px;
    max-width: 650px;

    padding: 32px;
    margin: auto auto;

    border-radius: 16px;

    background-color: #1F6E8C;

    margin-bottom: 32px;
}

header h1
{
    padding: 16px 16px;
    margin : auto;
}


header img
{
    width : 350px;
    border-radius: 16px;

}

.brief
{
    width : 600px;
    max-width: 650px;
    margin : auto auto;
    padding: 16px 32px;
}


.quote
{

    background-color: #1F6E8C;

    padding: 16px 16px;
    margin: 16px auto;

    width: 600px;
    max-width: 650px;
    border-radius: 16px;

    border-top: 4px solid white;
}

.quote p
{
    text-decoration: solid;
    text-align: center;
    
}

.awards
{
    text-align: center;
}

.awards a
{
    color: #84A7A1;
    text-decoration: underline;
}

.books
{
    margin: 16px auto;
    width: 600px; 
    max-width: 650px; 
    padding: 16px;
}

.books li a
{
    color: #84A7A1;
}



footer
{
    width: 100%;
    text-align: center;
    background-color: #1F6E8C;

    padding: 16px 0;
    text-align: center;

}

footer p
{
    padding: 8px;
    text-decoration: solid;
}

a:hover {
    color: #F5F5F5;
    text-decoration: none;
}



.books ul {
    list-style: none; 
    padding: 0;
}

